<div class="datatable-card card mt-1">
    <div class="card-body">
        <div class="header-content mb-3">
            <div class="header-title-content">
                <h4 *ngIf="tableTitle">{{ tableTitle }}</h4>
                <button *ngIf="hasRefreshBtn" pButton icon="pi pi-refresh" class="table-refresh-btn" (click)="triggerRefresh()"></button>
                <button 
                    *ngIf="hasClearFilterBtn"
                    pButton 
                    icon="pi pi-filter-slash" 
                    class="table-refresh-btn"
                    (click)="clearAllFilters()"
                    [disabled]="loading || isFilterEmpty()"
                ></button>
            </div>
            <button *ngIf="hasCreate" pButton icon="pi pi-plus" label="Add" (click)="triggerAdd()"></button>
        </div>

        <ng-content select="[filter]"></ng-content>

        <p-table
            [value]="value"
            [columns]="columnDefs"
            [paginator]="true"
            [rows]="rows"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="rowsPerPageOptions"
            [loading]="loading"
            [lazy]="true"
            (onLazyLoad)="loadData($event)"
            (onRowClick)="handleRowClick($event)"
            class="datatable-content"
            dataKey="id"
        >
            <ng-template pTemplate="header" let-columns>
                <tr class="sort-headers">
                    <th *ngFor="let col of columns" [pSortableColumn]="col.sortable !== false ? col.field : null" class="sort-header">
                        {{ col.header }}
                        <p-sortIcon *ngIf="col.sortable !== false" [field]="col.field"></p-sortIcon>
                    </th>
                    <th *ngIf="customActions?.length" class="sort-header">
                        Harakat+
                    </th>
                    <th *ngIf="hasAction" class="sort-header">
                        Harakat
                    </th>
                </tr>
                <tr class="filter-headers">
                    <th *ngFor="let col of columns" class="filter-header">
                        <input 
                            *ngIf="col.searchable !== false" 
                            pInputText 
                            type="text" 
                            class="w-100"
                            placeholder="Search {{ col.header }}"
                            [(ngModel)]="columnFilters[col.field]" 
                            (ngModelChange)="onColumnFilter($event, col.field)"
                        />
                    </th>
                    <th *ngIf="hasAction" class="filter-header">
                    </th>
                    <th *ngIf="hasAction" class="filter-header">
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr class="body-contents">
                    <td *ngFor="let col of columns">
                        <datatable-column-renderer 
                            [field]="col.field" 
                            [row]="rowData"
                            [cellRendererComponent]="col.cellRendererComponent">
                        </datatable-column-renderer>
                    </td>
                    <td *ngIf="customActions?.length">
                        <datatable-actions [row]="rowData" [actions]="customActions"></datatable-actions>
                    </td>                      
                    <td *ngIf="hasAction">
                        <button 
                          pButton 
                          icon="pi pi-pencil" 
                          class="p-button-sm p-button-text p-button-info me-2" 
                          (click)="triggerEdit(rowData)">
                        </button>
                        <button 
                          pButton 
                          icon="pi pi-trash" 
                          class="p-button-sm p-button-text p-button-danger" 
                          (click)="triggerDelete(rowData)">
                        </button>
                      </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog 
  [(visible)]="showEditDialog"
  [modal]="true"
  [style]="{ width: '600px' }"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  header="{{ editMode ? 'Edit' : 'Create' }}"
>
  <ng-template #formContainer></ng-template>
</p-dialog>

<p-confirmDialog></p-confirmDialog>

