.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title-content {
    display: flex;
    column-gap: 0.5rem;
}

.table-refresh-btn {
    width: 40px;
    height: 40px;
}

::ng-deep .p-datatable-scrollable-body {
    max-height: 70vh !important;
    overflow-y: auto;
}

::ng-deep .p-datatable-table-container {
    min-height: 70vh;
}

/* Light Mode */
::ng-deep .datatable-content .p-datatable {
    border: 1px solid #e5e7eb;
    border-radius: var(--content-border-radius);
}

::ng-deep .sort-headers .sort-header,
::ng-deep .filter-headers .filter-header {
    background-color: #f0f0f5;
    color: #333;
    border: none;
    text-align: center;
    height: 52px !important;
}

::ng-deep .datatable-content .p-datatable-thead > tr > th,
::ng-deep .datatable-content .p-datatable-tbody > tr > td {
    height: 40px;
    padding: 0 8px;
}

.sort-headers .sort-header,
.filter-headers .filter-header {
    border-bottom: 1px solid #e5e7eb;
}

.sort-headers .sort-header:first-child {
    border-top-left-radius: var(--content-border-radius);
}

.sort-headers .sort-header:last-child {
    border-top-right-radius: var(--content-border-radius);
}

.body-contents:nth-child(even) {
    background-color: #f9f9fc;
}

.body-contents:hover {
    background-color: #e0e7ff;
    cursor: pointer;
}

.body-content,
.center-content {
    text-align: center;
}

/* Dark Mode */
::ng-deep html.app-dark .datatable-content .p-datatable {
    border-color: #52525b !important;
}

::ng-deep html.app-dark .sort-headers .sort-header,
::ng-deep html.app-dark .filter-headers .filter-header {
    background-color: #1f2937 !important;
    color: #f9fafb !important;
    border-color: #52525b !important;
}

::ng-deep html.app-dark .body-contents:nth-child(even) {
    background-color: #374151 !important;
}

::ng-deep html.app-dark .body-contents:hover {
    background-color: #4b5563 !important;
    cursor: pointer;
}
