<form [formGroup]="form" (ngSubmit)="submitForm()" class="p-fluid">
    <app-input placeholder="Ism" formControlName="name" [required]="true"></app-input>
    <p-select 
        [options]="roleOptions" 
        optionLabel="label" 
        optionValue="value" 
        formControlName="role" 
        placeholder="Rol" 
        [showClear]="true" 
        class="select-content">
    </p-select>
    <app-input placeholder="Email" formControlName="email" [required]="true"></app-input>
    <app-input placeholder="Telefon" formControlName="phone" [required]="true"></app-input>
    <p-select 
        [options]="genderOptions" 
        optionLabel="label" 
        optionValue="value" 
        formControlName="gender" 
        placeholder="Jins" 
        [showClear]="true" 
        class="select-content">
    </p-select>
    <p-select 
        [options]="statusOptions" 
        optionLabel="label" 
        optionValue="value" 
        formControlName="status" 
        placeholder="Holat" 
        [showClear]="true" 
        class="select-content">
    </p-select>
    <app-input placeholder="Millat" formControlName="nationality" [required]="true"></app-input>
    <app-input placeholder="Manzil" formControlName="address" [required]="true"></app-input>
    <div class="flex justify-end gap-2 mt-4">
        <button pButton type="button" label="Bekor qilish" (click)="closeModal()" class="p-button-text p-button-danger"></button>
        <button pButton type="submit" label="Saqlash" [loading]="loading" [disabled]="loading || form.invalid" class="p-button-text p-button-success"></button>
    </div>
</form>
